{% extends 'base.html' %}

{% block content %}
    
<div class="col-xs-12"">
    <div class="col-xs-4" style="background-color: #e5e2e2;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px; max-height: 530px; overflow: auto;">
        <div style="text-align: center;font-size: 18px;background-color: rgb(255, 255, 255);border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
            <span>{{ destinatario.name}}</span>
        </div>
        {% for message in chatsMensagem %}
            {% if message.msg_to == destinatario.id and message.msg_by == current_user.id or message.msg_to == current_user.id  and message.msg_by == destinatario.id %}
                {% if (message.msg_by or message.msg_to) != destinatario.id %}
                    <div class="" style="text-align:right; padding:2px 5px;">
                        <p>
                            <span class="" style="background-color: #28a7ab;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message.body}}</span>
                        </p>
                    </div>
                {% else %}
                <div class="" style="text-align:left; padding:2px 5px;">
                    <p>
                        <span class="" style="background-color: #753953;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message.body}}</span>
                    </p>
                </div>
                {% endif %}

            {% endif %}       
        {% endfor %}
        <div class="col-xs-12">
            <form action="" method="post">
                <input type="hidden" name="destinatario" value="{{ destinatario.id }}">    
                <div class="form-group col-xs-8">
                    <input type="text" class="form-control" id="msg" name="msg" placeholder="Digite">
                </div>   
                <button type="submit" class="btn btn-primary pull-right">Enviar</button>
            </form>
        </div>    
    </div>
</div>
{% endblock %}
